@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1170px;
  padding-left: 98px;
  padding-right: 98px;
}

.page-color-pink {
  background-color: #FEAFC3;
}

.main-navigation {
  display: flex;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;
}

.logo {
  margin-right: 32px;
}

.navigation-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-right: auto;
}

.navigation-item {
  display: inline-block;
  margin-right: 32px;
  text-align: end;
}

.navigation-item:last-of-type {
  margin-right: 0;
}

.navigation-user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-user-list .navigation-item {
  margin-right: 16px;
}

.navigation-user-item:last-of-type {
  margin-right: 0px;

}

.navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.navigation-phone-link {
  font-weight: bold;
}

.navigation-link-search {
  border-radius: 100px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 8.5px;

}

.navigation-link-log-in {
  font-size: 14px;
  border-radius: 50px;
  background-color:rgba(252, 252, 252, 0.3);
  padding: 6px 16px;
}

.log-in-icon {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.by-online-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  width: 470px;
  margin-bottom: 24px;
}

.by-online-description {
  width: 414px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 48px;
  margin-right: 56px;
}

.button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  display: block;
  box-sizing: border-box;
  width: 139px;
  text-decoration: none;
  padding: 12px 32px;
  background: #FCFCFC;
  border: 4px solid rgba(254, 175, 195, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.by-online-wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.by-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
  margin-right: auto;

}


.by-online-images-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.by-online-images-item {
  margin-left: 41px;
}

.by-online-images-item:nth-child(2){
  margin-left: 56px;
}

.by-online-images-item:first-child{
  margin-left: 0;
}

.card-link {
  margin-left: 36px;
}

.card-link:first-of-type {
  margin-left: 0;
}

.card-img {
  opacity: 0.4;
}

.card-img.card-img-current{
  opacity: 1;
}

.circle-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-link {
  text-decoration: none;
  background-color: #FCFCFC;
  border-radius: 50%;
  color: #FCFCFC;
  padding: 6px;
  font-size: 1px;
  margin-right: 8px;
  opacity: 0.3;
}

.pagination-link-current {
  opacity: 1;
}

.pagination-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-social-item {
  margin-right: 16px;
}

.pagination-social-item:last-child {
  margin-right: 0;
}

.pagination-social-img {
  border: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 100px;
}

.by-and-gifts-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 480px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.card-gifts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
}

.card-gifts-description {
  width: 300px;
  margin: 0;
  margin-bottom: 32px;
}

.card-gifts-description-width-280 {
  width: 280px
}

.card-gifts-button {
  padding: 12px 12px;
  box-sizing: content-box;
}

.card-gifts {
  width: 530px;
  padding-top: 40px;
  padding-left: 40px;
}

.by-and-gifts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.card-gifts {
  background-repeat: no-repeat;
  background-color: #FF7799;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 40px;
  padding-right: 0;
}

.card-gifts-malina {
  background-image: url("../images/png/malina.png");
  background-position: 95% bottom;
  background-repeat: no-repeat;

}

.card-gifts-marshmallow {
  background-image: url("../images/png/marshmallow.png");
  background-position: 100% bottom;
  background-repeat: no-repeat;
}

.popular-testy {
  margin-bottom: 80px;
}

.popular-testy-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 580px;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 56px;
}

.popular-testy-list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-testy-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.popular-testy-item:last-of-type {
  margin-right: 0;
}

.popular-testy-item::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 8px;
  width: 270px;
  height: calc(100% - 50px);
  z-index: -1;
}



.popular-testy-card-title {
  margin: 0;
  margin-bottom: 8px;
}

.popular-testy-card-description {
  margin: 0;
  margin-bottom: 20px;
  width: 190px;
  text-align: center;
}

.price-by-wrapper {
  display: flex;
  align-items: center;
  width: 190px;
  padding-bottom: 28px;
}

.price {
  margin-right: auto;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.button-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages {
  background-image: url("../images/png/vuffle-background.png");
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 80px;
}

.advantages-wrapper {
  background-color: #FCFCFC;
  border-radius: 8px;
}



.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  margin-bottom: 56px;
  padding-top: 60px;
  padding-bottom: 0;
}

.advantages-description {
  margin: 0;
  line-height: 22px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 35px;
  margin: 0;
  padding: 0;
  padding-left: 64px;
  padding-right: 64px;
  list-style: none;
}

.advantages-item {
  display: flex;
  align-items: flex-start;
  width: 516px;
}

.advantages-item:last-child {
  margin-bottom: 60px;
}

.advantages-item-img {
  margin-right: 16px;
}

.news-and-subcribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 82px;
}


.article-title {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.news-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
  width: 303px;
  padding-bottom: 65px;
}

.news {
  background-image: url("../images/png/background-article.png");
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 32px;
  width: 570px;
  box-sizing: border-box;
  padding-bottom: 0;
}

.subscribe {
  background-image: repeating-linear-gradient(-45deg,
  #FF2F64,#FF2F64 1%, #E7E7E7 1%,
  #E7E7E7 3%, #69A9FF 3%, #69A9FF 4%, #E7E7E7 4%, #E7E7E7 6%);
  background-repeat: repeat;
  border-radius: 16px;
  padding: 6px;
}

.subscribe-wrapper {
  background-color: #FCFCFC;
  border-radius: 16px;
  padding: 26px;
  height: min-content;

}

.subscribe-form-input {
  width: 332px;
  padding: 14px;
  box-sizing: border-box;
  margin-right: auto;
  color: #B9B9B9;
}

.subscribe-description {
  width: 506px;
  margin: 0;
  margin-bottom: 42px;
}

.button-submite {
  background: #FF2F64;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  color: #FCFCFC;
  width: auto;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.dostavka {
  background-image: url("../images/png/dostavka-background.jpg");
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;

}


.dostavka-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 450px;
  margin: 0;
  margin-bottom: 24px;

}

.dostavka-description {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  width: 375px;

}

.dostavka-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.dostavka-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 40px;
  padding-bottom: 42px;
  width: min-content;

}

.input-dostavka {
  box-sizing: border-box;
}


.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-dostavka-fieldset {
  border: none;
  padding: 0;
}

.form-legend {
  width: 380px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 32px;
}

.input-dostavka-date {
  margin-right: 16px;
}

.input-dostavka-date {
  width: 117px;
  height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
}

.input-dostavka-phone {
  width: 287px;
  height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
}

.input-dostavka-adress {
  width: 420px;
  height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input-dostavka {
  margin-top: 8px;
}

.contacts {
  background-image: url("../images/png/contacts-background.jpg");
  background-size: cover;
  padding: 64px;
  padding-right: 0;
  border-radius: 16px;
  font-style: normal;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: min-content;
  padding: 40px;
}

.contacts-info-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  width: 179px;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-info-title:last-of-type {
  width: 203px;
}

.contacts-info-description {
  width: 265px;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
}

.contacts-info-description:last-of-type {
  margin-bottom: 32px;
}


.contacts-info-description-bold {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 263px;
}

.contacts-number {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
}

.page-footer {
  display: grid;
  grid-template-columns: 440px 400px 1fr;
  padding-top: 48px;
  padding-bottom: 48px;

}

.important-info-list {
  display: grid;
  grid-template-columns: 150px 1fr;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}



.important-info-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.important-info-link-favorit {
  font-weight: bold;
}


.copyrite {
  justify-self: end
}

.copyrite-description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-top: 14px;
}

.navigation-link-trash {
  font-weight: bold;
  font-size: 14px;
  border-radius: 50px;
  background-color:rgba(252, 252, 252, 0.3);
  padding: 6px 16px;
}

.navigation-link-current {
  color: #ffffff;
  background: #FF4A78;
  border-radius: 26px;
  padding: 8px 16px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item {
  margin-right: 8px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}


.breadcrumbs-link {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.breadcrumbs-link-active {
  border-bottom: 2px solid black;
}

.inner-navigation {
  margin-bottom: 32px;
}

.page-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.sorting {
  margin-bottom: 48px;
}

.sorting-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.sorting-legend {
  padding-left: 16px;
}

.sorting-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: rgba(252, 252, 252, 0.3);;
  border-radius: 20px;
  padding: 10px 16px;
}

.sorting-list.sorting-list-select {
    padding: 0;
}

.sorting-list-price {
  padding: 10px 16px;
}

.sorting-input-price {
  margin: 0;
  width: 164px;
}

.sorting-list:last-child {
  margin-right: 24px;
}

.sorting-list.sorting-item-button {
  padding: 0;
  align-self: flex-end;
}


.sorting-item {
  margin-right: 16px;
}

.sorting-item:last-child {
  margin-right: 0;

}

.sorting-list-select {
  margin-bottom: 16px;
}

.sorting-select {
  background: rgba(252, 252, 252, 0);
  border-radius: 20px;
  border: none;
  padding: 10px 63px 10px 16px;
}


.sorting-legend {
  margin-bottom: 8px;
}


.sorting-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.label-sorting-wrapper {
  display: flex;
  flex-direction: column;

}

.sorting-submite {
  display: flex;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 53px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.sorting-resolts {
  margin-bottom: 16px;
}

.sorting-resolts-list {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  justify-content: space-between;
  row-gap: 40px;
  list-style: none;
  padding-left: 0;
}

.product-card {
  margin: 0px;
}

.inner-pagination {
  padding-top: 41px;
  padding-bottom: 41px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.show-more {
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  margin: auto;
  grid-column: 2/2;
}


.pagination-inner-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-left: auto;
  grid-column-start: 3/3;
}

.pagination-inner-block {
  list-style: none;
  display: flex;
}

.pagination-inner-item {
  margin-right: 16px;
}

.pagination-inner-item:last-child {
  margin-right: 0;
}

.pagination-inner-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.pagination-inner-link-current {
  background: #FCFCFC;
  border-radius: 50%;
  padding: 3px 9px;
}









